/* Variables SCSS */
.fa-heart {
  position: relative;
  font-size: 32px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
  color: inherit;
}
@media screen and (min-width: 769px) {
  .fa-heart {
    margin-top: 5px;
    margin-right: 5px;
  }
}

/*transform: scale(0); */
.fa-heart::before {
  content: "";
  border: black;
}

.fa-heart::after {
  display: inline-block;
  border: none;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  transition: color 0.3s ease;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #353535;
  color: white;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 80px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}
@media screen and (min-width: 769px) {
  footer {
    align-items: center;
  }
}

.foot {
  display: flex;
  flex-direction: column;
}
.foot li {
  font-size: 32px;
  padding-top: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 769px) {
  .foot {
    align-items: center;
  }
}

#proposition a, #partner a {
  display: flex;
  flex-direction: row;
}

.fa-utensils, .fa-handshake-angle {
  font-size: 32px;
  width: 10px;
  margin-right: 40px;
  padding-top: 7px;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  min-width: fit-content;
}

/* Fonts */
* {
  font-family: "Roboto", "Comic Sans MS";
}

h1 {
  font-family: Shrikhand;
  font-size: 52px;
  font-weight: 900;
}

h2 {
  font-size: 38px;
  font-weight: 500;
}

h3 {
  font-size: 38px;
  font-weight: 900;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

/* PAGE RESTAURANT */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.fa-arrow-left {
  display: flex;
  align-items: flex-start;
  flex: 1;
  font-size: 28px;
  font-weight: 900;
  padding-top: 15px;
  padding-left: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 3;
}
.logo img {
  height: 60px;
}

main {
  display: flex;
  flex-direction: column;
}

.main_menu {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  background-color: white;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.card_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 30px;
}

.fa-heart {
  font-size: 45px;
  margin-top: 15px;
  padding-right: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 20px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  height: 140px;
  max-width: 97%;
  border: 2px solid blue;
  padding-left: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 90%;
  max-width: 80%;
  min-width: 0;
  margin-right: 10px;
}
.note h3, .note h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.price {
  display: flex;
  flex-basis: 10%;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
  margin-top: 30px;
}

.fa-circle-check {
  display: flex;
  flex-basis: 15%;
  font-size: 50px;
  justify-self: center;
  align-self: center;
}

button {
  align-self: center;
  margin-top: 50px;
  font-size: 32px;
  width: 50%;
  position: relative;
  padding: 25px 40px;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(180deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 5px gainsboro;
}

/*# sourceMappingURL=page.css.map */
