@use './utils/variables';
@use './utils/mixins';
@use './layouts/header';
@use './layouts/locations';
@use './layouts/exploration';
@use './layouts/functions';
@use './layouts/restaurants';
@use './layouts/hearts';
@use './layouts/footer';
@use './components/loader';


/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
    margin:0;padding:0 }

h1,h2,h3,h4,h5,h6 {
    font-size:100%;font-weight:normal }

ul {
    list-style:none }

button,input,select {
    margin:0 }

html {
    box-sizing:border-box }

*,*::before,*::after {
    box-sizing:inherit }

img,video {
    height:auto;max-width:100% }

iframe {
    border:0 }

table {
    border-collapse:collapse;border-spacing:0 }

td,th {
    padding:0 }

html {
    min-width: fit-content; }

body {
    min-height: 100vh;
}


/* Fonts */

* {
    font-family: "Roboto", "Comic Sans MS"; }
    
h1 {
    font-size: 40px;
    font-weight: 900; 

    @media screen and (max-width:500px) {
        font-size: 34px;  }
}

h2 {
    font-size: 36px;
    font-weight: 900; }

h3 {
    font-size: 32px;
    font-weight: 900;  

    @media screen and (max-width:450px) {
        font-size: 28px;}
        
    @media screen and (max-width:395px) {
        font-size: 24px;} 
}

h4 {
    font-size: 26px; }

p {
    font-size: 24px; 

    @media screen and (min-width:768px) {
        font-size: 22px;   }

    @media screen and (max-width:450px) {
        font-size: 20px;}
        
    @media screen and (max-width:395px) {
        font-size: 18px;}
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;  }

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    color: inherit; }


