@use './utils/variables';
@use './utils/mixins';
@use './layouts/hearts';
@use './layouts/menu';
@use './layouts/commande';
@use './layouts/footer';

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-size: 100%;
   font-weight: normal;
 }
 
 ul {
   list-style: none;
 }
 
 button, input, select {
   margin: 0;
 }
 
 html {
   box-sizing: border-box;
 }
 
 *, *::before, *::after {
   box-sizing: inherit;
 }
 
 img, video {
   height: auto;
   max-width: 100%;
 }
 
 iframe {
   border: 0;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 td, th {
   padding: 0;
 }
 
 html {
   min-height: 100vh;
   align-content: center;
 }

body {
   min-height: 100vh;
   max-width: 1600px;
   margin: auto;
}

 /* Fonts */
* {
    font-family: "Roboto", "Comic Sans MS";
}

h1 {
    font-family: Shrikhand;
    font-size: 40px;
    font-weight: 500; 
    width: 100%;
    overflow-wrap: break-word;
    margin-left: 10px; 
    margin-right: 10px;

    @media screen and (max-width:525px) {
        font-size: 34px;
        margin-right: 20px; }

    @media screen and (max-width:445px) {
      font-size: 30px;
      width: 100%; }
}

h2 {
    font-size: 26px;
    font-weight: 500;
    border-bottom: 4px solid variables.$colour-tertiary;
    width: 100px;
    height: 45px; 
    margin-left: 10px;

    @media screen and (min-width:768px) {
        font-size: 26px; 
        height: 40px;
        min-width: fit-content;
        align-self: center; }

    @media screen and (max-width:520px) {
        font-size: 24px; }
        
    @media screen and (max-width:400px) {
        font-size: 20px; } 
}

h3 {
    font-size: 24px;
    font-weight: 900; 
    
    @media screen and (max-width:600px) {
        font-size: 22px; }

    @media screen and (min-width:1024px) {
         font-size: 20px; }

    @media screen and (min-width:1440px) {
        font-size: 20px; }

     @media screen and (min-width:2560px) {
        font-size: 30px; }   
}

h4 {
    font-size: 22px; 
    @media screen and (min-width:768px) {
        font-size: 22px; }

    @media screen and (min-width:1024px) {
        font-size: 13px; }   
        
    @media screen and (min-width:1024px) {
        font-size: 17px; }

   @media screen and (min-width:2560px) {
        font-size: 26px; }     
}

p {
    font-size: 20px; 
    
    @media screen and (min-width:768px) {
        font-size: 22px; } 

    @media screen and (min-width:1024px) {
        font-size: 16px; }

    @media screen and (min-width:1440px) {
        font-size: 20px; }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    color: inherit; }
  

/* PAGE RESTAURANT */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;  }

.fa-arrow-left {
    display: flex;
    align-items: flex-start;
    flex: 1;
    font-size: 28px;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 30px; 
  
    @media screen and (max-width:400px) {
      font-size: 22px;
      padding-left: 10px; }
}
    
.logo {
    display: flex;
    justify-content: center;
    flex: 3; 

    & img {
         height: 40px;
        
    @media screen and (min-width:400px) {
        height: 30px; } 
    }
  }

main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-self: center;
    max-width: 100%; }

#banner img  {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%; 
  
    @media screen and (min-width:1024px) {
      height: 50vh; }
}

footer {
    padding: 40px;

    @media screen and (max-width:360px) {
      padding: 10px;  }

    & h4 {
      margin: 0;     }
}


