@use './utils/variables';
@use './utils/mixins';
@use './layouts/hearts';
@use './layouts/menu';
@use './layouts/footer';

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-size: 100%;
   font-weight: normal;
 }
 
 ul {
   list-style: none;
 }
 
 button, input, select {
   margin: 0;
 }
 
 html {
   box-sizing: border-box;
 }
 
 *, *::before, *::after {
   box-sizing: inherit;
 }
 
 img, video {
   height: auto;
   max-width: 100%;
 }
 
 iframe {
   border: 0;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 td, th {
   padding: 0;
 }
 
 html {
   min-width: fit-content;
   min-height: 100vh;
 }
 
 /* Fonts */
* {
    font-family: "Roboto", "Comic Sans MS";
}

h1 {
    font-family: Shrikhand;
    font-size: 45px;
    font-weight: 500; 
    width: 80%;
    overflow-wrap: break-word;}

h2 {
    font-size: 34px;
    font-weight: 500;
    border-bottom: 4px solid variables.$colour-tertiary;
    width: 100px;
    height: 55px; 
    margin-left: 10px;
    @media screen and (min-width:768px) {
        font-size: 26px; 
        height: 40px;
        min-width: fit-content;
        align-self: center; }
}

h3 {
    font-size: 30px;
    font-weight: 900; 
    @media screen and (min-width:768px) {
        font-size: 26px; }
}

h4 {
    font-size: 26px; 
    @media screen and (min-width:768px) {
        font-size: 22px; }
}

p {
    font-size: 26px; 
    
    @media screen and (min-width:768px) {
        font-size: 22px; } 
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    color: inherit; }
  

/* PAGE RESTAURANT */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;  }

.fa-arrow-left {
    display: flex;
    align-items: flex-start;
    flex: 1;
    font-size: 28px;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 30px; }
    
.logo {
    display: flex;
    justify-content: center;
    flex: 3; 

    & img {
         height: 50px;}
  }

main {
    display: flex;
    flex-direction: column; 
    max-width: 100%;}

#banner img  {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 70%; }

button {        
    align-self: center;
    margin-top: 50px;
    font-size: 32px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 100px;
    @include mixins.button;  }
  
footer {
    padding: 40px;

    & h4 {
      margin: 0;     }
}


