@use './utils/variables';
@use './utils/mixins';
@use './layouts/hearts';
@use './layouts/footer';




/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-size: 100%;
   font-weight: normal;
 }
 
 ul {
   list-style: none;
 }
 
 button, input, select {
   margin: 0;
 }
 
 html {
   box-sizing: border-box;
 }
 
 *, *::before, *::after {
   box-sizing: inherit;
 }
 
 img, video {
   height: auto;
   max-width: 100%;
 }
 
 iframe {
   border: 0;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 td, th {
   padding: 0;
 }
 
 html {
   min-width: fit-content;
 }
 
 /* Fonts */
* {
    font-family: "Roboto", "Comic Sans MS";
}

h1 {
    font-family: Shrikhand;
    font-size: 52px;
    font-weight: 500; }

h2 {
    font-size: 38px;
    font-weight: 500;
    border-bottom: 4px solid variables.$colour-tertiary;
    width: 100px;
    height: 55px; 
    @media screen and (min-width:769px) {
        font-size: 26px; 
        height: 40px;
        width: 80px; }
}

h3 {
    font-size: 38px;
    font-weight: 900; 
    @media screen and (min-width:769px) {
        font-size: 26px; }
}

h4 {
    font-size: 30px; 
    @media screen and (min-width:769px) {
        font-size: 22px; }
}

p {
    font-size: 32px; 
    @media screen and (min-width:769px) {
        font-size: 22px; } 
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    color: inherit; }
  

/* PAGE RESTAURANT */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;  }

.fa-arrow-left {
    display: flex;
    align-items: flex-start;
    flex: 1;
    font-size: 28px;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 30px; }
    
.logo {
    display: flex;
    justify-content: center;
    flex: 3; 

    & img {
        height: 60px; }
  }

main {
    display: flex;
    flex-direction: column; }

#restaurant_photo img  {
    object-fit: cover;
        
    @media screen and (min-width:769px) {
        height: 450px;
        width: 100%;
        object-position: 50% 70%; }
}

.main_menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -100px;
    background-color: variables.$colour-background;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px; }

.card_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 30px;  

  @media screen and (min-width:769px) {
      justify-content: center;
      gap: 60px; }
}

.fa-heart {
    font-size: 45px;
    margin-top: 15px;
    padding-right: 40px;  
  
    @media screen and (min-width:992px) {
      right: 90px; }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
  
    @media screen and (min-width:769px) {
      align-self: center;
      width: 50%; 
      gap: 20px;}
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    height: 140px;
    max-width: 97%;
    background-color: white;
    @include mixins.shadow-block;
    padding-left: 20px; 
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.44s both;
	  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.44s both; 

    @media screen and (min-width:769px) {
        height: 100px; }
}
    
.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 90%;
    max-width: calc(80%);
    min-width: 0;
    margin-right: 10px;      
    
    & h3, & h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;   }
}

.price {
    display: flex;
    flex-basis: 10%;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    margin-top: 30px;   }

.fa-circle-check {
    display: flex;
    flex-basis: 15%;
    font-size: 50px;
    justify-self: center;
    align-self: center;
    @media screen and (min-width:769px) {
        font-size: 30px; }

}

button {        
    align-self: center;
    margin-top: 50px;
    font-size: 32px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 100px;
    @include mixins.button;  }
  

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}





