@use '../utils/variables';
@use '../utils/keyframes';

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    background: white;
    transform: scaleX(0);
    cursor: wait;
    opacity: 1;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    pointer-events: none;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* Spinner background blanc glisse vers le droit */
    -webkit-animation: slide-out-elliptic-right-fwd 2.5s ease-in-out forwards;
	animation: slide-out-elliptic-right-fwd 2.5s ease-in-out forwards;  }

.data_text {
    position: relative;   

    & h1 {
        position: relative;
        font-family: Shrikhand;
        font-size: 80px;
        background-image: transparent;
        letter-spacing: 7px;
        overflow: hidden;
        line-height: 80px;

        /* Remplir un texte avec un dégradé */
        background: linear-gradient(120deg,variables.$colour-primary 0%,variables.$colour-secondary 50%, variables.$colour-tertiary 100%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        

        /* Animation text glisse vers le côté droit */
        -webkit-animation: scale-out-hor-right 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: scale-out-hor-right 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; }
} 

.rocket img {
    height: 600px;
    width: auto;
        
    /* Spinner rocket en rotation */
    -webkit-animation: rotate-center 1s ease-in-out both;
	animation: rotate-center 1s ease-in-out both; 
    animation-delay: 0.3s; }



  