/* Fonts */

* {
    font-family: "Roboto", "Comic Sans MS";
    font-size: 32px; }

h1 {
    font-size: 46px;
    font-weight: 900; }

h2 {
    font-size: 44px;
    font-weight: 900; }

h3 {
    font-size: 38px;
    font-weight: 900; }