/* Animation slide-in-bottom pour les ligne des menus */

@-webkit-keyframes slide-in-bottom {
     0% {
       -webkit-transform: translateY(50px);
               transform: translateY(50px);
       opacity: 0; }

     100% {
       -webkit-transform: translateY(0);
               transform: translateY(0);
       opacity: 1; }
}

@keyframes slide-in-bottom {
     0% {
       -webkit-transform: translateY(50px);
               transform: translateY(50px);
       opacity: 0; }
     100% {
       -webkit-transform: translateY(0);
               transform: translateY(0);
       opacity: 1; }
}


/* Animation rotate-center pour block price */
 
@keyframes spin {
         0% {
        //    opacity: 0;
           transform: rotate(-270deg);
         }
      
         100% {
        //    opacity: 1;
           transform: rotate(0deg);
         }
       }


/* -------------- ANIMATIONS POUR LE SPINNER --------------- */


/* Animation spinner slide-out-top */

@-webkit-keyframes slide-out-top {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; }
      100% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 1; }
}

@keyframes slide-out-top {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; }
      100% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 1; }
}


/* Animation spinner rocket rotate-center */

@-webkit-keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
                        transform: rotate(0); }
      100% {
        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg); }
}

@keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
                        transform: rotate(0); }
      100% {
        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg); }
}


/* Animation spinner bounce-out-right loader pour background blanc et h1 (min-width:768px) */


@-webkit-keyframes bounce-out-right {
      0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      5% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in; }
      15% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      25% {
        -webkit-transform: translateX(38px);
                transform: translateX(38px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in; }
      38% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      52% {
        -webkit-transform: translateX(80px);
                transform: translateX(80px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in; }
      65% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      85% {
        opacity: 1; }
      100% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0; }
}

@keyframes bounce-out-right {
      0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      5% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;  }
      15% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
     25% {
        -webkit-transform: translateX(38px);
                transform: translateX(38px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in; }
      38% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      52% {
        -webkit-transform: translateX(80px);
                transform: translateX(80px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in; }
      65% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; }
      85% {
        opacity: 1; }
      100% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0; }
}


/* Animation rotate-90-cw pour spinner rocket (min-width:768px) */

@-webkit-keyframes rotate-270-cw {
      0% {
        -webkit-transform: rotate(0);
                transform: rotate(0); }
      100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
}

@keyframes rotate-270-cw {
      0% {
        -webkit-transform: rotate(0);
                transform: rotate(0); }
      100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
}