/* Animation spinner slide-out-elliptic-right-fwd */

@-webkit-keyframes slide-out-elliptic-right-fwd {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 600px 50%;
              transform-origin: 600px 50%;
      opacity: 1; }

    50% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 300px 50%;
                transform-origin: 300px 50%;
        opacity: 1; }

    100% {
      -webkit-transform: translateX(1000px) rotateY(20deg) scale(6);
              transform: translateX(1000px) rotateY(20deg) scale(6);
      -webkit-transform-origin: -100% 50%;
              transform-origin: -100% 50%;
      opacity: 0; }
}

@keyframes slide-out-elliptic-right-fwd {
    0% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 600px 50%;
                transform-origin: 600px 50%;
        opacity: 1; }

    50% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 300px 50%;
                transform-origin: 300px 50%;
        opacity: 1; }

    100% {
        -webkit-transform: translateX(1000px) rotateY(20deg) scale(6);
                transform: translateX(1000px) rotateY(20deg) scale(6);
        -webkit-transform-origin: -100% 50%;
                transform-origin: -100% 50%;
        opacity: 0; }
}


/* Animation spinner scale-out-hor-right pour h1 */ 

@-webkit-keyframes scale-out-hor-right {
    0% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        opacity: 1; }

    100% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        opacity: 1; }
  }

@keyframes scale-out-hor-right {
    0% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        opacity: 1; }

    100% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        opacity: 1; }
  }


/* Animation rotate-center */

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
                transform: rotate(0); }

    100% {
      -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
}

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
                transform: rotate(0); }
    100% {
      -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
}