@use '../utils/mixins';

button {        
    align-self: center;
    font-size: 32px;
    @include mixins.button; 
  
    &:hover {
      transform: scale(1.05);
      opacity: 0.8; 
      transition: all 500ms ease-in;
      animation: shadow 1s ease-in-out 0s 1 normal both }}