@use '../utils/variables';
@use '../utils/mixins';

/* Exploration section */

.head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: variables.$colour-background;
    padding: 20px; 

    & h1 {
        text-align: center;
        width: 70%;
        margin: 20px 0; 
    
        @media screen and (max-width:420px) {
            width: 100%;  }}

    & p {
        font-size: 28px;
        text-align: center;
        font-weight: 300;
        margin: 0px 20px;   
    
        @media screen and (max-width:500px) {
            font-size: 22px;  }}

    & .button {    
        display: flex;
        justify-content: center;    
        margin-top: 45px;
        margin-bottom: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 28px;
        @include mixins.button;  
    
        @media screen and (max-width:425px) {
            font-size: 20px; }
    }

    & .button:hover {
        transform: scale(1.05);
        opacity: 0.9; }

}