/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #353535;
    color: white;   
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 80px;   

    & h4 {
        font-family: "Shrikhand";
        font-size: 40px; 
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 20px;  }
    
    @media screen and (min-width:769px) {
        align-items: center;  }
}

.foot {
    display: flex;
    flex-direction: column;

    & li {
        font-size: 32px;
        padding-top: 20px;
        margin-left: 20px;  }
        
        @media screen and (min-width:769px) {
            align-items: center;  }

    & p {
        @media screen and (min-width:769px) {
            font-size: 26px;  }
    }
}

 

#proposition a, #partner a {
    display: flex;
    flex-direction: row; }

.fa-utensils, .fa-handshake-angle {
    font-size: 32px;
    width: 10px;
    margin-right: 40px;
    padding-top: 7px; 

    @media screen and (min-width:769px) {
        font-size: 26px;  }
}