/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #353535;
    color: white;   
    padding-left: 40px;
    padding-bottom: 80px;}

h4 {
    font-family: "Shrikhand";
    font-size: 40px; 
    margin-top: 50px;
    margin-bottom: 30px;}

.foot ul {
    display: flex;
    flex-direction: column;}

.foot li {
    padding-top: 15px;
}

#proposition a, #partner a {
    display: flex;
    flex-direction: row; }

.fa-utensils, .fa-handshake-angle {
    font-size: 25px;
    width: 10px;
    margin-right: 40px;
    padding-top: 7px; }