/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #353535;
    color: white;   
    height: auto;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 80px; 

    & h4 {
        font-family: "Shrikhand";
        font-size: 36px; 
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 20px;  }

    @media screen and (max-width:390px) {
        padding: 20px;  }
}

.foot {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    & li {
        font-size: 24px;
        padding-top: 20px;
        margin-left: 10px;  }

    & p {
        @media screen and (min-width:769px) {
            font-size: 24px;  }
    }
}

#proposition a, #partner a {
    display: flex;
    flex-direction: row; }
    
i {
    font-size: 30px;
    width: 10px;
    margin-right: 40px;
    color: white;

    @media screen and (min-width:769px) {
        font-size: 26px;  }

    @media screen and (max-width:450px) {
        font-size: 22px;  }
}