@use '../utils/variables';
@use '../utils/mixins';


.fa-heart {
    position: absolute;
    font-size: 34px;
    cursor: pointer;
    right: 5px;
    margin-top: 20px; 

    @media screen and (min-width:769px) {
        margin-top: 15px;
        right: 0;    }

    @media screen and (min-width:992px){
        right: 20px;}
    }
    
.fas {
    color: transparent;
    background-image: linear-gradient(180deg, variables.$colour-primary, variables.$colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;

    &:hover {
        opacity: 1;
        transform: scale(1.3); }
} 