@use '../utils/variables';
@use '../utils/mixins';


.fa-heart {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    right: 5px;

    @media screen and (min-width:768px) {
        margin-top: 0px;
        right: 0;    }

    @media screen and (min-width:992px){
        right: 20px;}
}
    
.fas {
    color: transparent;
    background-image: linear-gradient(180deg, variables.$colour-primary, variables.$colour-secondary);
    background-clip: text;              /* définit la façon dont l'arrière-plan d'un élément s'étend sous la boîte de bordure, la boîte de remplissage ou la boîte de contenu.*/
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1000ms ease-in;

    &:active {
        opacity: 1;
        transform: scale(1.3); }

    @media screen and (min-width:768px) {
        &:hover {
            opacity: 1;
            transform: scale(1.3); }    
    }
} 