/* Logo */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

#logo {
    height: 55px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 20px; }